<div class="row mt-4">
    <div class="col">
        <mat-card class="mat-elevation-z4">
            <mat-card-header>
                <mat-card-title class="my-2">Faktury</mat-card-title>
            </mat-card-header>
            <mat-card-content>
                <div *ngIf="isLoading; then isLoadingBlock else isNotLoadingBlock"></div>

                <ng-template #isLoadingBlock>
                    <div style="height: 10rem;">
                        <app-loader></app-loader>
                    </div>
                </ng-template>

                <ng-template #isNotLoadingBlock>
                    <div *ngIf="invoices.length === 0; then emptyInvoicesBlock else invoicessBlock"></div>

                    <ng-template #emptyInvoicesBlock>
                        <div class="d-flex align-items-center justify-content-center" style="height: 10rem;">
                            <h3 class="mat-subheading-2">Brak faktur. Dodaj faktury.</h3>
                        </div>
                    </ng-template>

                    <ng-template #invoicessBlock>
                        <mat-list>
                            <mat-list-item *ngFor="let invoice of invoices">
                                <mat-icon mat-list-icon>receipt</mat-icon>
                                <div mat-line>
                                    <a [routerLink]="['/invoices', invoice.id]">
                                        <b>{{ invoice.year }}/{{ invoice.month }}/{{ invoice.number }}</b> | {{ invoice.priceGross | currency:'PLN ' }}
                                    </a>
                                </div>
                                <div mat-line>Data wystawienia {{ invoice.issueDate | date }}</div>
                                <mat-action-list>
                                    <button mat-icon-button [matMenuTriggerFor]="menu">
                                        <mat-icon>more_vert</mat-icon>
                                    </button>
                                    <mat-menu #menu="matMenu">
                                        <a mat-menu-item [routerLink]="['/invoices', invoice.id]">
                                            <mat-icon>edit</mat-icon>
                                            <span>Edytuj</span>
                                        </a>
                                        <button mat-menu-item (click)="deleteInvoice(invoice.id)">
                                            <mat-icon>delete</mat-icon>
                                            <span>Usuń</span>
                                        </button>
                                    </mat-menu>
                                </mat-action-list>
                            </mat-list-item>
                        </mat-list>
                    </ng-template>
                </ng-template>

            </mat-card-content>
        </mat-card>
    </div>
</div>

<app-add-button routerLink="/invoices/0"></app-add-button>