<header class="mat-elevation-z5">
    <nav class="navbar-header">
        <a mat-button routerLink="/">
            <mat-icon>account_balance</mat-icon>
            Invoice Manager
        </a>
        <a mat-button routerLink="/invoices" class="d-none d-md-inline-block">Faktury</a>
        <a mat-button routerLink="/clients" class="d-none d-md-inline-block">Klienci</a>
    </nav>
    <nav class="navbar-header d-flex d-md-none">
        <a mat-button routerLink="/invoices">Faktury</a>
        <a mat-button routerLink="/clients">Klienci</a>
    </nav>
</header>
