.mat-card-content,
.mat-card-actions {
    padding: 0 16px;
}

.mat-form-field {
    display: block;
}

.app-form-row {
    display: flex;

    @media (max-width: 1320px) {
        flex-direction: column !important;
    }

    .mat-form-field {
        margin-right: 10px;
    }
}